version: '3.3'

services:
#    nginx:
#        container_name: ${APP_NAME:?err}_nginx
#        image: nginx:latest
#        ports:
#            - 80:80
#            - 443:443
#        volumes:
#            - ./app:/var/www/app
#            - ./nginx.conf:/etc/nginx/conf.d/my.conf
#        links:
#            - php
    apache:
        container_name: ${APP_NAME:?err}_apache
        image: httpd:latest-alpine
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./app:/app
        links:
            - php
    php:
        container_name: ${APP_NAME:?err}_php
        build: docker/php
        user: "${UID:?err}:${GID:?err}"
        volumes:
            - ./app:/var/www/app
            - ./share:/tmp/share
        environment:
            PHP_IDE_CONFIG: "serverName=docker"
            PHP_XDEBUG_ENABLED: 1
        links:
            - mysql
#    mysql:
#        container_name: ${APP_NAME:?err}_mysql
#        image: mysql:5
#        ports:
#            - 13306:3306
#        environment:
#            MYSQL_ROOT_PASSWORD: dev
#            MYSQL_DATABASE: ${APP_NAME:?err}_dev
#            MYSQL_USER: dev
#            MYSQL_PASSWORD: dev
#        volumes:
#            - mysql:/var/lib/mysql
#            - ./share:/tmp/share

#volumes:
#    mysql:
